<template>
  <div class="card-section">
    <a
      class="individual-card"
      v-for="project in projects"
      v-bind:key="project.id"
      v-bind:href="project.link"
      target="_blank"
    >
      <b-card
        v-bind:title="project.title"
        :img-src="project.img"
        :img-alt="project.title"
        img-top
        tag="article"
        class="mb-2"
      >
        <b-card-text>
          {{ project.description }}
        </b-card-text>
      </b-card>
    </a>
  </div>
</template>

<script>
export default {
  name: "Card",

  props: {
    projects: Array,
  },
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";

.card-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.individual-card {
  padding: 1rem;
  color: $darkBlue;
  text-decoration: none;
}

article {
  width: 30rem;
  height: 27rem;
  filter: drop-shadow(0px 4px 4px $shadowGrey);
}

article:hover {
  filter: drop-shadow(0px 4px 4px $darkBlue);
}

.card-img-top {
  width: 478px;
  height: 256px;
}

.card-body {
  border-top: 1px solid $shadowGrey;
}

.card-title {
  font-size: 1.2rem;
}

/* Desktop only styles */
@media screen and (min-width: 1280px) {
  .card-section {
    width: 1280px;
    margin: auto;
  }
}

/* Mobile only styles */
@media screen and (max-width: 480px) {
  .card-section {
    padding: 0;
  }

  article {
    width: auto;
    height: auto;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .project-area {
    padding-bottom: 13rem;
  }
}
</style>
