<template>
  <section>
    <div class="project-area">
      <h2>PROJECTS</h2>
      <p class="subtitle">A selection of stuff I built</p>
      <Card v-bind:projects="projects" />
    </div>
  </section>
</template>

<script>
import Card from "./Card.vue";

export default {
  name: "Projects",

  components: {
    Card,
  },

  data() {
    return {
      projects: [
        {
          id: 1,
          title: "Homecare Hub - Shared Living Homes",
          link: "https://homecarehub.com/shared-living",
          img: require("../../assets/SharedLiving.png"),
          description:
            "Homecare Hub users can find and apply for a shared living home online. I worked with the business/healthcare team to create the user flows, Figma designs and front-end VueJS pages.",
        },
        {
          id: 2,
          title: "Homecare Hub - Adult Day Program",
          link: "https://homecarehub.com/adult-day",
          img: require("../../assets/AdultDay.png"),
          description:
            "Homecare Hub users can find and apply for adult day programs online. I worked with the business/healthcare team to create the user flows, Figma designs and front-end VueJS pages.",
        },
        {
          id: 3,
          title: "Homecare Hub - Updated Navbar",
          img: require("../../assets/Navbar.png"),
          link:
            "https://www.figma.com/file/1iMwdW0roAmNIRts2LXyVH/Nav-Bar-2.0?node-id=0%3A1",
          description:
            "Desgined and co-built the updated Navbar using VueJS (for desktop and mobile)",
        },
        {
          id: 4,
          title: "Homecare Hub - SEO",
          img: require("../../assets/SEO.png"),
          link:
            "https://www.google.com/search?q=homecare+toronto&oq=homecare+toronto",
          description:
            'Revised website metadata and accessibility which brought website ranking from page 11 to page 2 on Google search for "homecare toronto"',
        },
        {
          id: 5,
          title: "Homecare Hub - Contact Us page",
          img: require("../../assets/ContactUs.png"),
          link: "https://homecarehub.com/contact-us",
          description:
            "Redesigned the Contact Us page and modals. I managed, reviewed and peer-programmed with a Co-Op student who reported to me to build this page.",
        },
        {
          id: 6,
          title: "Homecare Hub - Shared Living Home Quote PDF",
          img: require("../../assets/Invoice.png"),
          link:
            "https://www.figma.com/proto/CdVnI6GSyxCkE5kEPdECgD/Hub-Quote-Invoice?node-id=202%3A5&scaling=min-zoom&page-id=0%3A1",
          description:
            "When a user requests to join a shared living home, an email is automaticaly generated with a printable PDF that they can share with their loved ones. I designed, managed, reviewed and peer-programmed with a Co-Op student who reported to me to build this page.",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

section {
  background-color: $pink;
}

h2 {
  text-align: center;
  padding-top: 3rem;
  color: $darkBlue;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  text-align: center;
  color: $darkBlue;
  font-size: 1.5rem;
}

.project-area {
  background-image: linear-gradient($lightPink, $medPink);
  position: relative;
  z-index: 10;
  padding-bottom: 8rem;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
}

/* Mobile only styles */
@media screen and (max-width: 1110px) {
  .project-area {
    padding-bottom: 13rem;
  }
}
</style>
