<template>
  <section>
    <div class="about-section">
      <div class="wrapper">
        <div class="about-text">
          <h1>HI, I'M JEN!</h1>
          <p>
            I'm a Full Stack Developer at
            <a href="https://homecarehub.com/" target="_blank">Homecare Hub</a>
            and a Teaching Assistant for York University's
            <a
              href="http://continue.yorku.ca/certificates/certificate-in-full-stack-web-development/"
              target="_blank"
              >Full Stack Development program</a
            >.
          </p>
          <p>I’m an excellent planner and love meeting new people!</p>
          <p>
            On the side, I'm also a cat mom, aerial silks dancer and a big tea
            addict!
          </p>
        </div>
        <img src="../assets/AboutMe.jpg" width="350px" height="467px" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "AboutMe",
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

section {
  background: $lightPink;
  color: $darkBlue;
}

.about-section {
  background-color: $white;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 0 11rem 0;
}

.about-text {
  width: 45%;
  padding: 2rem;
  border-left: 5px solid $pink;
}

h1 {
  color: $pink;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $darkBlue;
  font-weight: 700;
}

a:hover {
  color: $pink;
}

img {
  border-radius: 15px;
  filter: drop-shadow(14px 14px $pink);
}

/* Desktop only styles */
@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1280px;
    margin: auto;
  }
}

/* Mobile only styles */
@media screen and (max-width: 785px) {
  .about-section {
    padding: 5rem 0 8rem 0;
  }

  .wrapper {
    width: 100%;
    padding: 5rem;
  }

  .about-text {
    border: none;
    width: 100%;
    padding: 0;
  }

  img {
    filter: drop-shadow(8px 8px $pink);
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}
</style>
