<template>
  <section>
    <p>Coded by Jen Beltran - Copyright 2021</p>
    <div class="icons-section">
      <a
        v-for="socialIcon in socialIcons"
        v-bind:key="socialIcon.id"
        v-bind:href="socialIcon.link"
        target="_blank"
      >
        <img
          v-bind:src="socialIcon.img"
          :width="socialIcon.width"
          :height="socialIcon.height"
        />
      </a>
    </div>
  </section>
</template>

<script>
export default {
  name: "Footer",

  data() {
    return {
      socialIcons: [
        {
          id: 1,
          link: "mailto:francescajenbeltran@gmail.com",
          img: require("../assets/Gmail.png"),
          alt: "Email me here",
          width: "35px",
          height: "35px",
        },
        {
          id: 2,
          link: "https://www.linkedin.com/in/jenfbeltran/",
          img: require("../assets/LinkedIn.png"),
          alt: "Visit my LinkedIn profile",
          width: "35px",
          height: "35px",
        },
        {
          id: 3,
          img: require("../assets/GitLab.png"),
          link: "https://gitlab.com/jenbeltran",
          alt: "View my coding journey here",
          width: "45px",
          height: "45px",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

section {
  background-color: $chestnut;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  flex-wrap: wrap;
}

p {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

a {
  padding: 1.5rem;
}

/* Mobile only styles */
@media screen and (max-width: 700px) {
  section {
    justify-content: center;
    padding: 2rem;
  }

  .icons-section {
    padding-top: 1rem;
    display: flex;
  }
}
</style>
