<template>
  <section class="navbar" :class="{ 'navbar--hidden': !showNavbar }">
    <div class="wrapper">
      <p>JEN BELTRAN</p>
      <ul>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#community">Community Involvement</a></li>
        <li><a href="#resume">Resume</a></li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: "Navbar",

  data() {
    return {
      showNavbar: true,
      lastScrollPosition: 0,
    };
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  methods: {
    onScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;
      if (currentScrollPosition < 0) {
        return;
      }
      // Stop executing this function if the difference between
      // current scroll position and last scroll position is less than some offset
      if (Math.abs(currentScrollPosition - this.lastScrollPosition) < 60) {
        return;
      }
      this.showNavbar = currentScrollPosition < this.lastScrollPosition;
      this.lastScrollPosition = currentScrollPosition;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  color: $pink;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
}

.navbar.navbar--hidden {
  transform: translate3d(0, -100%, 0);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $pink;
}

a:hover {
  color: $darkBlue;
}

/* Desktop only styles */
@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: auto;
  }

  ul {
    width: 50%;
    margin-bottom:0;
  }

  p{
    margin-bottom: 0;
  }
}

/* Mobile only styles */
@media screen and (max-width: 1279px) {
  .wrapper {
    width: 100%;
  }

  ul {
    width: 100%;
  }

  p {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    justify-content: center;
    padding: 1rem;
  }

  p {
    font-size: 20px;
  }

  ul {
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    font-size: 14px;
  }
}
</style>
