<template>
  <section>
    <h2>RESOURCES</h2>
    <div class="btn-section">
      <a
        class="btn"
        target="_blank"
        href="https://drive.google.com/file/d/1xE0EFArqnRirbif5CQUt4nHn1zvzi33_/view?usp=sharing"
      >
        View my resume
      </a>
      <a class="btn" target="_blank" href="https://www.polywork.com/jenbeltran">
        See my professional timeline
      </a>
    </div>
  </section>
</template>

<script>
export default {
  name: "Resume",
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

h2 {
  color: $pink;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn {
  background-color: $pink;
  color: $white;
  border-color: $pink;
  filter: drop-shadow(0px 4px 4px $shadowGrey);
  margin: 1rem;
}

.btn:hover {
  background-color: $darkBlue;
  color: $white;
  border-color: $darkBlue;
  filter: drop-shadow(0px 4px 4px $shadowGrey);
}

.btn-section {
  display: flex;
}

/* Mobile only styles */
@media screen and (max-width: 480px) {
  .btn-section {
    flex-direction: column;
  }
}
</style>
