<template>
  <section>
    <div class="project-area">
      <h2>BUILDING COMMUNITY</h2>
      <p class="subtitle">How I stay active in the tech community</p>
      <CommunityCard v-bind:projects="projects" />
    </div>
  </section>
</template>

<script>
import CommunityCard from "./CommunityCard.vue";

export default {
  name: "CommunityBuilding",

  components: {
    CommunityCard,
  },

  data() {
    return {
      projects: [
        {
          id: 1,
          title: "YorkU - Teaching Assistant",
          link:
            "http://continue.yorku.ca/certificates/certificate-in-full-stack-web-development/",
          img: require("../../assets/YorkU.jpeg"),
          description:
            "Teaching Assistant for York University's Full Stack Web Development post-graduate certificate program. Currently mentoring students for NodeJS (FS1020), React (FS1010) and MySQL (FS1030).",
        },
        {
          id: 2,
          title: "Hack the 6ix - Director of Operations",
          link: "https://hackthe6ix.com/",
          img: require("../../assets/HackLogo.png"),
          description:
            "Hack the 6ix is Toronto's largest summer hackathon with over 1700 applicants, 500 hackers, and 92 project submissions. I managed a team of six responsible for all logistics and event planning aspects leading up to and during the hackathon.",
        },
        {
          id: 3,
          title: "Tech Teahouse - Co-Founder",
          img: require("../../assets/TechTeahouse.jpeg"),
          link: "https://www.techteahouse.com/",
          description:
            "Tech Teahouse was founded by three women who wanted to create a community of like-minded individuals with a desire to impact the diversity problem within the tech industry. We believe that by building an inclusive community for Toronto tech enthusiasts, workers, and entrepreneurs, we can create a more welcoming environment for people of all backgrounds to thrive.",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "/src/sass/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

section {
  background-color: $white;
}

h2 {
  text-align: center;
  padding-top: 3rem;
  color: $darkBlue;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  text-align: center;
  color: $darkBlue;
  font-size: 1.5rem;
}

.project-area {
  background-image: linear-gradient($pink, $darkPink);
  position: relative;
  z-index: 10;
  padding-bottom: 8rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

/* Mobile only styles */
@media screen and (max-width: 1110px) {
  .project-area {
    padding-bottom: 13rem;
  }
}
</style>
