<template>
  <div id="app">
    <Navbar />
    <AboutMe />
    <Projects id="projects" />
    <CommunityBuilding id="community" />
    <Resume id="resume" />
    <Footer />
  </div>
</template>

<script>
import Vue from "vue";
import { BootstrapVue } from "bootstrap-vue";
import Navbar from "./components/Navbar.vue";
import AboutMe from "./components/AboutMe.vue";
import Projects from "./components/Projects/Projects.vue";
import CommunityBuilding from "./components/CommunityBuilding/CommunityBuilding.vue";
import Resume from "./components/Resume.vue";
import Footer from "./components/Footer.vue";

// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);

export default {
  name: "App",

  components: {
    Navbar,
    AboutMe,
    Projects,
    CommunityBuilding,
    Resume,
    Footer,
  },
};
</script>
